/* 主体样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(#f6a5ae, #c9e4af) fixed; /* 调整渐变颜色 */
}

/* 滚动条 */
::-webkit-scrollbar {
    display: none;
}

/* 主容器 */
.container {
    background: linear-gradient(#8cc197, #ffe7ae);
    margin: 20px auto;
    display: grid;
    width: 95vw;
    padding: 20px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #b1abab;
}

/* 视频区域 */
.video-section {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
}

iframe {
    border: none;
    width: 100%;
    height: 50vw;
    margin: auto auto 2vw;
}

/* 剧集信息滚动条 */
.episode-info::-webkit-scrollbar {
    display: none;
}

/* 剧集信息 */
.episode-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.episode-info a {
    margin: 2vh;
    color: #7b8c6a;
    font-size: 2vw;
    text-align: center;
    text-decoration: none;
}

h2 {
    color: #2c3e50; /* 加深标题颜色 */
    margin-top: 20px;
}

p {
    font-size: 3vw;
    text-indent: 2em; /* 设置首行缩进为两个空格的宽度 */
    line-height: 1.6;
    color: #666;
}

/* 视频区域段落隐藏 */
.video-section p {
    display: none;
}

/* 相关视频区域 */
.related-videos {
    display: flex;
    flex-wrap: wrap;
}

/* 相关视频单元 */
.related-video {
    flex: 0 1 calc(33.33% - 20px);
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    border: 1px solid #ddd; /* 边框颜色与容器一致 */
    border-radius: 8px;
}

/* 杂项 */
#Bottom_information {
    margin: 5vw;
    padding: 5vw;
    font-size: 3vw;
    text-align: center;
}

#Begin_column {
    margin-top: 10vw;
}